/BinaryClassification_Figure/.vs
/BinaryClassification_Figure/BinaryClassification_Figure/obj
/BinaryClassification_Figure/BinaryClassification_Figure/bin
/BinaryClassification_Figure/MakeData/obj
/BinaryClassification_Figure/MakeData/bin
