/BinaryClassification_Figure/.vs
/BinaryClassification_Figure/BinaryClassification_Figure/obj
/BinaryClassification_Figure/BinaryClassification_Figure/bin
/BinaryClassification_Figure/MakeData/obj
/BinaryClassification_Figure/MakeData/bin
/BinaryClassification_TextFeaturize/.vs
/BinaryClassification_TextFeaturize/BinaryClassification_TextFeaturize/obj
/BinaryClassification_TextFeaturize/BinaryClassification_TextFeaturize/bin
/MulticlassClassification_Mnist/.vs
/MulticlassClassification_Mnist/MulticlassClassification_Mnist/obj
/MulticlassClassification_Mnist/MulticlassClassification_Mnist/bin
/MulticlassClassification_Mnist_Useful/.vs
/MulticlassClassification_Mnist_Useful/MulticlassClassification_Mnist/obj
/MulticlassClassification_Mnist_Useful/MulticlassClassification_Mnist/bin
/MulticlassClassification_Mnist_TF/.vs
/MulticlassClassification_Mnist_TF/MulticlassClassification_Mnist/obj
/MulticlassClassification_Mnist_TF/MulticlassClassification_Mnist/bin
