/BinaryClassification_Figure/.vs
/BinaryClassification_Figure/BinaryClassification_Figure/obj
/BinaryClassification_Figure/BinaryClassification_Figure/bin
/BinaryClassification_Figure/MakeData/obj
/BinaryClassification_Figure/MakeData/bin
/BinaryClassification_TextFeaturize/.vs
/BinaryClassification_TextFeaturize/BinaryClassification_TextFeaturize/obj
/BinaryClassification_TextFeaturize/BinaryClassification_TextFeaturize/bin
/MulticlassClassification_Mnist/.vs
/MulticlassClassification_Mnist/MulticlassClassification_Mnist/obj
/MulticlassClassification_Mnist/MulticlassClassification_Mnist/bin
/MulticlassClassification_Mnist_Useful/.vs
/MulticlassClassification_Mnist_Useful/MulticlassClassification_Mnist/obj
/MulticlassClassification_Mnist_Useful/MulticlassClassification_Mnist/bin
/TensorFlow_ImageClassification/.vs
/TensorFlow_ImageClassification/TensorFlow_ImageClassification/obj
/TensorFlow_ImageClassification/TensorFlow_ImageClassification/bin
/TensorFlow_FaceValueDetection/.vs
/TensorFlow_FaceValueDetection/TensorFlow_ImageClassification/obj
/TensorFlow_FaceValueDetection/TensorFlow_ImageClassification/bin
/YOLO_ObjectDetection/.vs
/YOLO_ObjectDetection/YOLO_ObjectDetection/obj
/YOLO_ObjectDetection/YOLO_ObjectDetection/bin
/Regression_WineQuality/.vs
/Regression_WineQuality/Regression_WineQuality/obj
/Regression_WineQuality/Regression_WineQuality/bin
